<h2>Viewing the <%= @name %> gallery</h2>

<a href="/galleries/<%= @gallery.id %>/edit">Edit this gallery</a>

<form action="/galleries/<%= @gallery.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete gallery">
</form>

<ul>
  <% @images.each do |image| %>
    <img src="<%= image.url %>"/>
  <% end %>
</ul>
